{% extends "layout.html" %}

    {% block body %}

      <div class="row">
        {% for website in data %}
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="{{ website.url }}"><img class="card-img-top" src="{{ url_for('static', filename='data/'+website.screenshot ) }}" alt=""></a>
            <div class="card-body">
              <h5 class="card-title">
                <a href="{{ website.url }}">{{ website.title }}</a>
              </h5>
              <p class="card-text">{{ website.description }}</p>
            </div>
          </div>
        </div>
        {% else %}
        <!-- stub data if no projects found or not loaded yet -->
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h5 class="card-title">
                <a href="#">Project One</a>
              </h5>
              <p class="card-text">Project description</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h5 class="card-title">
                <a href="#">Project Two</a>
              </h5>
              <p class="card-text">Project description</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h5 class="card-title">
                <a href="#">Project Three</a>
              </h5>
              <p class="card-text">Project description</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h5 class="card-title">
                <a href="#">Project Four</a>
              </h5>
              <p class="card-text">Project description</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h5 class="card-title">
                <a href="#">Project Five</a>
              </h5>
              <p class="card-text">Project description</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h5 class="card-title">
                <a href="#">Project Six</a>
              </h5>
              <p class="card-text">Project description</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- /.row -->

    {% endblock %}
