<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>geld.tech - 404 Not Found</title>
  <meta name="description" content="Flask Application">
  <meta name="author" content="geld.tech">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>

    <h1 style='color:red'>404, Not Found!</h1>
    
    <p>The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.</p>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=__GA_UA_ID__"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '__GA_UA_ID__');
    </script>
</body>
</html>

