Package: __PACKAGE_NAME__
Version: __VERSION__
Depends: bash, python
Depends: python-flask, gunicorn, nginx
Depends: python-selenium, chromium-chromedriver
Architecture: all
Maintainer: __USER__
Description: __PACKAGE_DESC__ (build date: __DATE__)
